<center>
    <form action="/student/changePassword" method="post">
        <input type="text" placeholder="Enter Old Password" name="oldPassword"><br><br>
        <input type="text" placeholder="Enter New Password" name="pass"><br><br>
        <input type="submit" value="Submit">
    </form>
</center>