<%-include('header')%>

<main id="main" class="main">
    <%if(messages.success){%>

      <div class="alert alert-success my-2">
        <%=messages.success%>
      </div>
      <%}%> 
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Studetnt Register</h5>

              <!-- General Form Elements -->
              <form class="row g-3 needs-validation" novalidate action="/manager/register" method="post">
                <div class="col-12">
                  <label for="yourName" class="form-label">Your Name</label>
                  <input type="text" name="name" class="form-control" id="yourName" required>
                  <div class="invalid-feedback">Please, enter your name!</div>
                </div>

                <div class="col-12">
                  <label for="yourEmail" class="form-label">Your Email</label>
                  <input type="email" name="email" class="form-control" id="yourEmail" required>
                  <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Enter Mobile Number</label>
                  <input type="password" name="pass" class="form-control" id="yourPassword" required>
                  <div class="invalid-feedback">Please enter your Mobile Number</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Enter Course</label>
                  <select name="course" id="" class="form-control">
                    <option hidden value="">-- Select Course --</option>
                    <option value="game">Game Development</option>
                    <option value="web">Web Development</option>
                    <option value="flutter">Flutter Development</option>
                    <option value="ui">UI/UX Design</option>
                  </select>
                  <div class="invalid-feedback">Please enter your Mobile Number</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Enter Time</label>
                  <select name="time" id="" class="form-control">
                    <option hidden value="">-- Select Time --</option>
                    <option value="8am">8:00 AM</option>
                    <option value="9am">9:00 AM</option>
                    <option value="10am">10:00 AM</option>
                    <option value="11am">11:00 AM</option>
                    <option value="12am">12:00 AM</option>
                  </select>
                  <div class="invalid-feedback">Please enter your Mobile Number</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Enter Join Date</label>
                  <input type="date" class="form-control" name="date">
                  <div class="invalid-feedback">Please enter your Mobile Number</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Enter Gender</label><br>
                  <input type="radio" value="male" name="gender">Male <br>
                  <input type="radio" value="female" name="gender">FeMale <br>
                  <input type="radio" value="other" name="gender">Other <br>
                  <div class="invalid-feedback">Please enter your Mobile Number</div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Create Account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

<%-include('footer')%>